body, html {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(./falcon.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

#game-container {
  position: relative;
}

#gameCanvas {
  border: 1px solid #000;
}
