body {
  background-color: #afe8fa;
  font-family: monospace;
  text-align: center;
}

#model-feedback {
  color: #fff;
  text-shadow: 1px 1px #000;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 800px;
  border: 1em solid #fff;
  border-radius: 1.25em;
  box-shadow: 1px 1px 5px #000;
}

#btn-detect {
  text-transform: uppercase;
  background-color: #00d085;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 1px 1px 2px #000;
  padding: 0.5em;
  display: none;
  margin: 1em;
}